/* @import url(http://fonts.googleapis.com/css?family=Montserrat); */

html {
  background-color: #313131;
}

body {
  margin: 60px auto;
  width: 60%;
  height: 100vh;
}

nav {
  padding-bottom: 3em;
}

nav ul, div.sidebar ul {
  font-family: 'Montserrat', 'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

div.sidebar ul, nav ul li {
  display: inline-block;
}

div.sidebar ul {
  padding-top: 100px;
}

nav ul li {
  font-size: 1.5em;
}

div.sidebar ul li {
  margin-bottom: 1em;
  font-size: 1.2em;
}

a {
  color: #e6a51d;
  text-decoration: none;
}

a:hover {
  color: #c16804;
  text-decoration: none;
}

a i {
  margin-right: 1em;
}

h1, h2, h3 {
  font-family: 'Montserrat', 'Helvetica', 'Arial', 'Sans-Serif';
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 1em;
  color: #c16804;
}


h3 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  color: #76726d;
}

p {
  font-size: 1.5em;
  line-height: 1.5em;
  color: #cecece
}

.homepage {
  display: table;
  width: 100%;
}

.homerow {
  display: table-row;
}

.sidebar {
  width: 30%;
  display: table-cell;
  text-align: center;
}

.container {
  padding: 0 5%;
}

.blurb, .teaching {
  display: table-cell;
}

p.lead {
  font-size: 2em;
  line-height: 1.2em;
}

img.avatar {
  width: 80%;
  vertical-align: top;
  padding: 0 10%;
  border-radius: 50%;
}

.teaching-entry {
  padding-top: 1em;
}

p.course-title {
  margin-bottom: 0.5em;
}

.course-number {
  font-weight: bold;
  padding-right: 0.5em;
}

.course-name {
  font-style: italic;
}

.course-school {
  padding-left: 0.25em;
}

p.course-detail {
  padding-left: 2em;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.bib {
  display: table;
  margin-bottom: 3em;
}

.bib-entry {
  width: 100%;
  font-size: 0.9em;
  display: table-row;
}

.bib-year {
  text-align: right;
  font-weight: bold;
  width: 15%;
  display: table-cell;
  padding-right: 1em;
}

.bib-info {
  text-align: left;
  display: table-cell;
}

.bib a {
  background-color: #007896;
  color: #313131;
  border-radius: 10px;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin-left: 5pt;
  display: inline-block;
}
