/* @import url(http://fonts.googleapis.com/css?family=Montserrat); */

html {
  background-color: #313131;
}

body {
  margin: 60px auto;
  width: 60%;
  height: 100vh;
}

nav {
  padding-bottom: 3em;
}

nav ul, div.sidebar ul {
  font-family: 'Montserrat', 'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

div.sidebar ul, nav ul li {
  display: inline-block;
}

nav ul li {
  font-size: 1.5em;
}

div.sidebar ul li {
  margin-bottom: 1em;
  font-size: 1.2em;
}

a {
  color: #cecece;
  text-decoration: none;
}

a:hover {
  color: #999;
  text-decoration: none;
}

a i {
  margin-right: 1em;
}

h1, h2 {
  font-family: 'Montserrat', 'Helvetica', 'Arial', 'Sans-Serif';
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 1em;
  color: #cecece;
}

p {
  font-size: 1.5em;
  line-height: 1.5em;
  color: #cecece
}

.homepage {
  display: table;
  width: 100%;
}

.homerow {
  display: table-row;
}

.sidebar {
  width: 30%;
  display: table-cell;
  text-align: center;
}

.container {
  padding: 0 5%;
}

.blurb, .teaching {
  display: table-cell;
}

p.lead {
  font-size: 2em;
  line-height: 1.2em;
}

img.avatar {
  width: 80%;
  vertical-align: top;
  padding: 0 10%;
  border-radius: 50%;
}

.teaching-entry {
  padding-top: 1em;
}

.course-number {
  font-weight: bold;
  padding-right: 0.5em;
}

.course-name {
  font-style: italic;
}

.course-school {
  padding-left: 0.25em;
}
