/* @import url(http://fonts.googleapis.com/css?family=Montserrat); */

html {
  background-color: #545454;
}

body {
  margin: 60px auto;
  width: 70%;
  height: 100vh;
}

nav ul, div.sidebar ul {
  font-family: 'Montserrat', 'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
  text-align: center;
}

div.sidebar ul {
  /* width: 30%; */
  /* margin-left: 35%; */
  display: inline-block;
  margin: 1em auto;
}

nav ul li {
  display: inline-block;
  margin: 0 auto;
  /* margin-right: 20px; */
  font-size: 2em;
}

div.sidebar ul li {
  margin-bottom: 1em;
  font-size: 1.2em;
}

a {
  color: #cecece;
  text-decoration: none;
}

a:hover {
  color: #999;
  text-decoration: none;
}

a i {
  margin-right: 1em;
}

h1 {
  font-size: 3em;
  font-family: 'Montserrat', 'Helvetica', 'Arial', 'Sans-Serif';
}

p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #cecece
}

.homepage {
  display: table;
  width: 100%;
}

.homerow {
  display: table-row;
}

.sidebar {
  width: 30%;
  display: table-cell;
}

.blurb {
  display: table-cell;
}

img.avatar {
  width: 80%;
  vertical-align: top;
  padding: 10%;
  border-radius: 50%;
}
