<head>
  <meta charset="utf-8">
  <!-- <meta name="viewport" width="device-width, initial-scale=1.0"> -->
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="Mia Teixeira">

  <title>{{ page.title }} | Mia Teixeira | Computational Linguist</title>

  <!-- styles -->
  <link href"../css/main.css" rel="stylesheet" type="text/css">

  <!-- FontAwesome for icons -->
  <!-- <script src="https://kit.fontawesome.com/3836e67666.js" crossorigin="anonymous"></script> -->

  <!-- google analytics -->
  <!-- {% include analytics.html %} -->
</head>
