<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://kit.fontawesome.com/3836e67666.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <!-- <li><a href="/about">About</a></li> -->
        <li><a href="/research">Research</a></li>
        <li><a href="/teaching">Teaching</a></li>
        <li><a href="miateixeira.github.io/resume/resume.pdf" target="_blank">Resume</a></li>
        <!-- <li><a href="/resume">Resume</a></li> -->
        <!-- <li><a href="/cv">CV</a></li> -->
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div><!-- /.container -->
    <footer>
      <ul>
        <li><a href="mailto:mia.teixeira314@gmail.com"><i class="fa fa-paper-plane fa-xl"></i></a></li>
        <li><a href="https://github.com/miateixeira"><i class="fa fa-github fa-xl"></i></a></li>
        <li><a href="https://linkedin.com/in/miateixeira"><i class = "fa fa-linkedin fa-xl"></i></a></li>
      </ul>
    </footer>
  </body>
</html>
